.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(200, 228, 239);
}

.boldText {
  font-weight:bold;
}

.rules {
  font-size: 0.2em;
  width: 100em;
}

.rules .invalid {
  font-weight:bold;
  color: rgb(125, 20, 20);
}
.rules .valid {
  font-weight:bold;
  color: rgb(29, 150, 29);
}
.rules .points {
  /* font-weight:bold; */
  font-size: 0.1em;
  color: rgb(5, 45, 124);
}

.title {
  display: flex;
  flex-direction: row;
  font-family: Lucida Bright;
  color:rgb(73, 73, 145);
}

.logo {
  padding-top: 0.8em;
  position: absolute;
}

.name {
  padding-left: 0.75em;
  z-index: 1;
}
